<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <form ng-submit="submit(request)" enctype='application/json'>
        <label>Method</label>
        <select class="form-control" required ng-init="request.method='GET'" ng-model="request.method">
          <option value="GET" selected>GET</option>
          <option value="POST">POST</option>
          <option value="PUT">PUT</option>
          <option value="DELETE">DELETE</option>
        </select>
        <br>

        <label>Table</label>
        <select class="form-control" required ng-init="request.table='Shelves'" ng-model="request.table">
          <option value="Shelves" selected>Shelves</option>
          <option value="Books">Books</option>
        </select>
        <br>

        <label>JSON</label>
        <section>
          <div ui-ace ng-model="request.json" required></div>
        </section>

        <input class="btn btn-primary pull-right" type="submit" value="Send">
      </form>
    </div>
    <div class="col-xs-6">
      <label>Response</label>
      <!-- <textarea class="form-control" rows="20" ng-model="response" readonly></textarea> -->
      <section>
        <div ui-ace ng-model="response" readonly class="response"></div>
      </section>
    </div>
  </div>
  <br>
</div>