{{data}}

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-6">
      <form ng-submit="submit(request)" enctype='application/json'>
        <label>Method</label>
        <select class="form-control" required ng-init="request.method='GET'" ng-model="request.method">
          <option value="GET" selected>GET</option>
          <option value="POST">POST</option>
          <option value="PUT">PUT</option>
          <option value="DELETE">DELETE</option>
        </select>
        <br>

        <label>Table</label>
        <select class="form-control" required ng-init="request.table='Shelves'" ng-model="request.table">
          <option value="Shelves" selected>Shelves</option>
          <option value="Books">Books</option>
        </select>
        <br>

        <label>JSON (check Preview JSON below to see if it is correct)</label>
        <section>
          <div ui-ace ng-model="request.json" required></div>
        </section>
        <br>

        <div class="col-xs-12">
        <label>Preview JSON</label>
          <div class="result">
              <json-formatter json="textareaJson" open="1"></json-formatter>
          </div>
        </div>

        <input class="btn btn-primary pull-right" type="submit" value="Send">
      </form>
    </div>
    <div class="col-xs-6">
      <label>Response</label>
      <section>
        <json-formatter json="response" open="1"></json-formatter>
      <section>
    </div>
  </div>
  <br>
</div> -->